<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="SonarQube - VoxelGame Sonar way" ToolsVersion="16.0">
  <Include Path="..\..\.sonarlint\pershingthesecond_voxelgamecsharp.ruleset" Action="Default" />
  <Include Path="..\.sonarlint\pershingthesecond_voxelgamecsharp.ruleset" Action="Default" />
</RuleSet>