<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--CONTROLS-->
    <add key="mouseSensitivity" value="0.3" />
    <!--USER INTERFACE-->
    <add key="crosshairScale" value="0.0225" />
    <add key="crosshairColor" value="1.0;1.0;1.0" />
    <!--QUALITY-->
    <add key="screenSize" value="480;270"/>
    <add key="sampleCount" value="8" />
    <add key="maxFps" value="60" />
    <!--WORLD MANAGMENT-->
    <add key="maxGenerationTasks" value="15" />
    <add key="maxLoadingTasks" value="15" />
    <add key="maxMeshingTasks" value="5" />
    <add key="maxMeshDataSends" value="2" />
    <add key="maxSavingTasks" value="15" />
  </appSettings>
</configuration>