<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mouseSensitivity" value="0.5" />
    <add key="maxGenerationTasks" value="15" />
    <add key="maxLoadingTasks" value="15" />
    <add key="maxMeshingTasks" value="5" />
    <add key="maxMeshDataSends" value="2" />
    <add key="maxSavingTasks" value="15" />
  </appSettings>
</configuration>