<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="VoxelGame.Client.Properties.client" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="VoxelGame.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VoxelGame.Client.Properties.Settings>
            <setting name="MouseSensitivity" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="CrosshairScale" serializeAs="String">
                <value>0.0225</value>
            </setting>
            <setting name="CrosshairColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>1800, 900</value>
            </setting>
            <setting name="FoliageQuality" serializeAs="String">
                <value>High</value>
            </setting>
            <setting name="RenderResolutionScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DarkSelectionColor" serializeAs="String">
                <value>25, 25, 25</value>
            </setting>
            <setting name="BrightSelectionColor" serializeAs="String">
                <value>150, 150, 150</value>
            </setting>
            <setting name="ScaleOfUI" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PostProcessingAntiAliasingQuality" serializeAs="String">
                <value>Low</value>
            </setting>
            <setting name="RenderingAntiAliasingQuality" serializeAs="String">
                <value>High</value>
            </setting>
            <setting name="AnisotropicFilteringQuality" serializeAs="String">
                <value>High</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>English</value>
            </setting>
        </VoxelGame.Client.Properties.Settings>
    </userSettings>
</configuration>