<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <sectionGroup name="userSettings"
                      type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VoxelGame.Client.Properties.client"
                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                     allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <VoxelGame.Client.Properties.client>
            <setting name="MouseSensitivity" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="CrosshairScale" serializeAs="String">
                <value>0.0225</value>
            </setting>
            <setting name="CrosshairColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ScreenSize" serializeAs="String">
                <value>480, 270</value>
            </setting>
            <setting name="SampleCount" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="MaxFPS" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="MaxMeshingTasks" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxMeshDataSends" serializeAs="String">
                <value>16</value>
            </setting>
        </VoxelGame.Client.Properties.client>
    </userSettings>
</configuration>
